name = "lacasita-reservations-api"
main = "src/index.js"
compatibility_date = "2026-02-20"
workers_dev = true
preview_urls = true

[vars]
ALLOWED_ORIGINS = "https://lacasitadeyeya.com,https://www.lacasitadeyeya.com,https://luiscdano.github.io,http://localhost:8080,http://127.0.0.1:8080"

[[d1_databases]]
binding = "DB"
database_name = "lacasita_reservations"
database_id = "8422bb68-0275-4ed1-8232-2cf6173b2b5b"
